---
- name: Install K3s server
  shell: |
    curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s

- name: Get K3s token
  command: cat /var/lib/rancher/k3s/server/node-token
  register: k3s_token
  changed_when: false

- name: Set K3s token fact
  set_fact:
    cluster_token: "{{ k3s_token.stdout }}"
  run_once: true
