# ArgoCD Application for 1Password Connect
# Provides the API for External Secrets Operator to access 1Password
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: onepassword-connect
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://1password.github.io/connect-helm-charts
    targetRevision: "1.15.1"
    chart: connect
    helm:
      valuesObject:
        # The Connect credentials secret must be created manually BEFORE deploying
        # See: https://developer.1password.com/docs/connect/get-started/
        connect:
          credentials_base64: ""  # Will be overridden by a pre-created secret
          credentialsName: "op-credentials"
          credentialsKey: "1password-credentials.json"
        operator:
          # We use External Secrets Operator instead of the 1Password Operator
          create: false
  destination:
    server: https://kubernetes.default.svc
    namespace: external-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
# ClusterSecretStore for External Secrets Operator to use 1Password Connect
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: onepassword-connect
spec:
  provider:
    onepassword:
      connectHost: http://onepassword-connect.external-secrets.svc.cluster.local:8080
      vaults:
        # TODO: Replace with your actual vault name
        pve02: 1  # Vault name -> priority
      auth:
        secretRef:
          connectTokenSecretRef:
            name: onepassword-connect-token
            namespace: external-secrets
            key: token
